:root {
  --color-accent: oklch(65% 50% 0);
}


body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    accent-color: var(--color-accent);
    font: 100%/1.5 Georgia, serif;
    padding: auto;
    max-width: fit-content;
    margin-inline: max(1em, (100% - 100ch) / 2);
    background-color: #e4e5f0;
  }

nav {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin: 2em auto;

    ul {
      display: contents;
      padding: 0;
  
      li {
          display: contents;
          margin: 1em;

          a {
            flex: 1;
            text-decoration: none;
            color: inherit;
            text-align: center;
            padding: 0.5em;
            margin-bottom: 1em;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: oklch(80% 3% 200);
          }
      }
  
    }
  }

.current {
  border-bottom-width: 0.4em;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.5px;
  }

  