body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    padding: auto;
    max-width: fit-content;
    margin-inline: max(1em, (100% - 100ch) / 2);
    background-color: #cccdea;
  }

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);

    ul {
      display: contents;
      padding: 0;
  
      li {
          display: contents;
          margin: 1em;
      }
  
    }

    a {
        text-decoration: none;
        flex: 1;
        color: #333;
        font-weight: bold;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #333;
            color: #fff;
        }
    }
  }



  